@model Vahapp2.Models.Loans

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Loandate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loandate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Returndate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Returndate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duedate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duedate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articles.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articles.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
